#container{
    background-color: aliceblue;
}

h1{
    color: palevioletred;
}

#box{
    height: 10rem;
    width: 10rem;
    background-color: blue;
    transition: all 3s ease-in-out;
}

#Colour{
    margin: 5px;
    background-color: orange;
}

#Shape{
    margin: 5px;
    background-color: orange;
}